.public-arr {
    background: #ffffff;
    overflow: hidden;
}

.public-arr-box {
    overflow: hidden;
    height: 17.65625vw;
    margin-bottom: 3vw;
    background: #fff7f5;
}

.public-arr-icon {
    height: 8.125vw;
    width: 8.125vw;
    background: #d71d5b;
    font-size: 5vw;
    color: #fff;
    margin-top: 3.125vw;
    float: left;
    margin-left: 5.625vw;
    line-height:  8.125vw;
    text-align: center;
    border-radius: 5px
}

.public-arr-info {
    float: left;
    font-size: 0;
    margin-left: 6.5625vw;
}

.public-arr-info>span {
    font-size: 3.6vw;
    color: #d71d5b;
    margin-top: 3.9vw;
    display: block;
    width: 57.8125vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.public-arr-info>p {
    font-size: 3.6vw;
    color: #d71d5b;
    margin-top: 3.9vw;
    width: 57.8125vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.public-arr-box>button {
    float: right;
    border: none;
    background: transparent;
    color: #5f5f5f;
    font-size: 3.6vw;
    margin-top: 5.468vw;
    width: 18.75vw;
    height: 5.46875vw;
    outline: none;
}