.lShopInfo {
    background: url(resources/lShopInfo.jpg) no-repeat center #fff;
    background-size: 100% 100%!important;
    overflow: hidden;
}
.lShopInfo *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-poi-title {
    text-align: center;
    overflow: hidden;
    padding-top: 7.8125vw;
}

.l-poi-title p {
    color: #8e8787;
    text-align: center;
    font-family:  Arial,sans-serif;
    margin-bottom: 1vw;
    font-size: 4.68vw;
    font-weight: bold;
}

.l-poi-title span {
    color: #e39fa0;
    text-align: center;
    display: block;
    font-weight: bold;
    position: relative;
    font-size: 6.25vw;
}

.l-poi-title span:before,.l-poi-title span:after {
    content: "";
    width: 23.43vw;
    height: 3px;
    background: #5f5f5f;
    display: inline-block;
    vertical-align: middle;
}

.l-poi-title span:before {
    margin-right: 1.56vw;
}

.l-poi-title span:after {
    margin-left: 1.56vw;
}



.remarks-body {
    background: url("resources/bbbg.png") no-repeat center;
    width: 93.59vw;
    height: 93.91vw;
    background-size: 100% 100%;
    margin:5.468vw auto 0;
    overflow: hidden;
}
.remarks-body h2 {
    width: 70.31vw;
    text-align: center;
    font-size: 4.6875vw;
    font-weight: bold;
    color: #333;
    margin: 20.625vw auto 5.468vw;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 6.25vw;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.remarks-body p {
    width: 70.31vw;
    font-size:3.75vw;
    color: #333;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 5.3125vw;
}
.remarks-body button {
    color: #333;
    display: block;
    margin: 6.25vw auto 0;
    background: transparent;
    border: 1px solid #333;
    width: 14.0625vw;
    height: 6.25vw;
    font-size:3.125vw;
}
.lShopInfo:after {
    content: '';
    background: url("resources/wel.jpg") no-repeat center;
    background-size:53.28vw 15vw;
    display: block;
    width: 53.28vw;
    height: 15vw;
    margin: 0 auto 3vw;
}
