*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lServiceB {
    position: relative;
    width: 100%;
    background: url(resources/lServiceB.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}
.lServiceB-swipe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    padding-bottom: 5vw;
}
.lServiceB-swipe-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.lServiceB-swipe-wrap > .lServiceB-item {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
}

.lServiceB-item-box{
    height: 100%;
    width: 48%;
    margin: 0 1%;
    float: left;
    overflow: hidden;
    position: relative;
}
.lServiceB-item-con{
    width: 100%;
    height: 100%;
    display:box;
    display:-webkit-box;
    display:-moz-box;
    box-orient:vertical;
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
}
.lServiceB-item img{
    width: 100%;
    height: 100%;
    display: block;
    box-flex:3;
    -moz-box-flex:3;
    -webkit-box-flex:3;
}
.lServiceB-item-info{
    width: 100%;
    overflow: hidden;
    box-flex:1;
    -moz-box-flex:1;
    -webkit-box-flex:1;
    min-height: 15vw;
}
.lServiceB-item-info p{
    line-height: 1.5;
    text-align: left;
}
.lServiceB-item-info span{
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #333;
}
.lServiceB-item-info b{
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #999;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}


#lServiceB-nav{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#lServiceB-nav li {
    display: inline-block;
    vertical-align: middle;
    width: 3.28125vw;
    height: 3.28125vw;
    margin: 0 1.875vw;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
}
#lServiceB-nav li.on {
    background: #ccc;
}
section.lServiceB{height:108vw;padding-top:22.67vw;padding-right:1.07vw;padding-bottom:8.00vw;padding-left:1.33vw;color:#228995;text-align:left;}