*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.lPhoneA{
    position: relative;
    width: 100%;
    background: url(resources/lPhoneA.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}
.lPhoneA>span {
    width: 100%;
    display: inline-block;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
section.lPhoneA{height:17vw;padding-top:4.80vw;padding-right:0.00vw;padding-bottom:0.00vw;padding-left:14.93vw;color:#5f5f5f;font-size:4.00vw;text-align:left;}