*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.lIntroADetail{
    position: relative;
    width: 100%;
    background: url(resources/lIntroADetail.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}

section.lIntroADetail{height:101vw;padding-top:20.00vw;padding-right:0.00vw;padding-bottom:0.00vw;padding-left:0.00vw;color:#515151;text-align:center;}