*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lSalesD {
    position: relative;
    width: 100%;
    background: url(resources/lSalesDhead.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}
.lSalesD-content{
    padding-bottom: 10vw;
    height: 100%;
    overflow: hidden;
}
.lSalesD-contents{
    overflow: hidden;
}
.lSalesD-box{
    background: url("resources/lSalesDpro.jpg") repeat center;
    background-size: 100% 100%;
    width: 100%;
    height: 46vw;
}

.con-hide{display: none;}

.oImage{
    overflow: hidden;
    padding-top: 5vw;
    float: left;
}
.oImage img{
    display: block;
    width: 100%;
    height: 100%;
}
.lSalesD-item-info{
    line-height: 1.5;
    float: left;
    width: 45vw;
    padding-top: 5.1vw;
}
.lSalesD-item-info p{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lSalesD-item-info span{
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lSalesD-item-info b{
    display: block;
    font-weight: normal;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-item{
    color: transparent;
    display: block;
    line-height: 2;
}
.more-item:after{
    content: "";
    background: url("resources/more.jpg") no-repeat center;
    background-size: 100% 100%;
    width: 21.4vw;
    height: 8vw;
    display: block;
    right: 3vw;
    bottom: 12vw;
    position: absolute;
}

.footes{background: url("resources/lSalesDfoot.jpg") no-repeat center;background-size: 100% 100%;width: 100%;height: 8vw;display: block;position: absolute;left: 0;bottom: 0;}

span.NS-price{color: #ff0000;}
section.lSalesD{padding-top:22.67vw;padding-right:0.00vw;padding-bottom:10.67vw;padding-left:2.67vw;text-align:left;}
div.oImage{width:50vw;}
p.NS-titleSales{margin-top:4.00vw;padding-left:1.87vw;font-size:4.27vw;overflow: hidden;height: 5.94vw;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}
span.NS-priceSales{margin-top:13.40vw;padding-left:1.87vw;color:#ffffff;font-size:3.47vw;}
s.NS-priceoldSales{padding-left:12.33vw;color:#ffffff;font-size:2.93vw;position: relative;line-height: 2.6;}
s.NS-priceoldSales:before{content: "原价:￥";position: absolute;left: 1.3vw;color:#ffffff;font-size:2.93vw;}
b.NS-countSales{margin-top:1.87vw;padding-left:1.87vw;color:#959595;font-size:2.93vw;}