*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.lSimADetail{
    position: relative;
    width: 100%;
    background: url(resources/lSimADetail.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}

section.lSimADetail{height:14vw;padding-top:5.80vw;padding-right:10vw;padding-bottom:0.00vw;padding-left:9.33vw;color:#a20000;text-align:left;font-size: 3vw;}