*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.lSimADetails{
    position: relative;
    width: 100%;
    background:  no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}

section.lSimADetails{padding-top:1.33vw;padding-right:0.00vw;padding-bottom:1vw;padding-left:3.20vw;color:#424242;font-size:4.27vw;text-align:left;}