*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.lAddressADetails{
    position: relative;
    width: 100%;
    background: url(resources/lAddressADetails.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}

.lAddressADetails-box {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    display: -webkit-flex;
}
.lAddressADetails-box-distance i{
    font-style: normal;
}
.lAddressADetails-box-address {
    position: relative;
    border-right: 2px solid #333;
    overflow: hidden;
    line-height: 1.5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex: 4;
}
.look-all {
    float: left;
    line-height: 1.5;
    flex: 1;
    color: transparent;
}


section.lAddressADetails{height:13vw;padding-top:1.33vw;padding-right:0.00vw;padding-bottom:0.00vw;padding-left:3.20vw;color:#434343;text-align:left;}