*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lTopicADetail {
    position: relative;
    width: 100%;
    background: url(resources/lTopicADetail.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #fff;
}
.lTopicADetail-swipe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    padding-bottom: 6vw;
}
.lTopicADetail-swipe-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.lTopicADetail-swipe-wrap > .lTopicADetail-item {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
}
.lTopicADetail-item img{
    width: 100%;
    height: 100%;
    display: block;
}
.lTopicADetail-item span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    line-height: 1.5;
    padding: 0 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#lTopicADetail-nav{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#lTopicADetail-nav li {
    display: inline-block;
    vertical-align: middle;
    width: 3.28125vw;
    height: 3.28125vw;
    margin: 0 1.875vw;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
}
#lTopicADetail-nav li.on {
    background: #ccc;
}
section.lTopicADetail{height:81vw;padding-top:20.00vw;padding-right:2.67vw;padding-bottom:10.67vw;padding-left:2.67vw;text-align:center;}
span.shade{background-color:rgba(0,0,0,0.3);}