*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lShopInfoA {
    position: relative;
    width: 100%;
    background: url(resources/lShopInfoA.jpg) no-repeat top center #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}
.lShopInfoA p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}
section.lShopInfoA{height:185vw;padding-top:144.00vw;padding-right:13.33vw;padding-bottom:0.00vw;padding-left:13.33vw;color:#434343;font-size:2.93vw;text-align:left;}