.lAddress {
    position: relative;
    width: 100%;
    background: url(resources/lAddress.jpg) no-repeat center #fff;
    background-size: 100% 100%!important;
    overflow: hidden;
}
.l-poi-title {
    text-align: center;
    overflow: hidden;
    padding-top: 7.8125vw;
}

.l-poi-title p {
    color: #8e8787;
    text-align: center;
    font-family:  Arial,sans-serif;
    margin-bottom: 1vw;
    font-size: 4.68vw;
    font-weight: bold;
}

.l-poi-title span {
    color: #e39fa0;
    text-align: center;
    display: block;
    font-weight: bold;
    position: relative;
    font-size: 6.25vw;
}

.l-poi-title span:before,.l-poi-title span:after {
content: "";
width: 23.43vw;
height: 3px;
background: #5f5f5f;
display: inline-block;
vertical-align: middle;
}

.l-poi-title span:before {
margin-right: 1.56vw;
}

.l-poi-title span:after {
margin-left: 1.56vw;
}


.l-poi-address-info {
    text-align: center;
    margin-top: 1.56vw;
}

.l-poi-address-info>span {
    color: #000;
    display: block;
    line-height: 8.125vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1.875vw;
    font-size: 4.375vw;
}

.l-poi-address-info>span:after {
    content: "";
    background: url("resources/icon2.png") no-repeat;
    height: 5.625vw;
    width: 5.625vw;
    background-size: cover;
    display: inline-block;
    margin-left: 2vw;
    vertical-align: text-bottom;
}
.address-info-add{font-size: 0}
.address-info-add>span{
    color: #000;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 8.125vw;
    max-width: 78vw;
    vertical-align: bottom;
    font-size: 4.375vw;
}

.address-info-add>.look-all {
    font-size: 3.43vw;
    color: #fa7677;
    display:inline-block;
    background: transparent;
    border: none;
    padding: 0;
    -webkit-text-size-adjust:none;
    letter-spacing: 0;
    line-height: 8.125vw;
    font-style: normal;
}

.address-info-add:after {
    display: inline-block;
    content: "";
    background: url("resources/icon3.png") no-repeat;
    height: 5.9vw;
    width: 4.1vw;
    background-size: cover;
    margin-left: 2vw;
}
