*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lPreferenceA {
    position: relative;
    background: url(resources/lPreferenceA.jpg) no-repeat center #fff;
    background-size: 100% auto!important;
    width: 100%;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}
.lPreferenceA p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    height:11.5vw;
}
.content-hide{
    display: none;
}
section.lPreferenceA{height:37vw;padding-top:7.47vw;padding-right:26.67vw;padding-bottom:0.00vw;padding-left:20.80vw;color:#636363;font-size:3.73vw;text-align:left;}