*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.lIntroADetails{
    position: relative;
    width: 100%;
    background: #fff;
    background-size: 100% auto!important;
    overflow: hidden;
    font-family: Microsoft Yahei,sans-serif;
    color: #000;
}
.lIntroADetails-box{width: 100%;border: 1px solid #651820;padding: 5vw}
.lIntroADetails:before{content: "详情信息";display: block;text-align: left;margin-top: -2vw;margin-bottom: 2vw}
section.lIntroADetails{padding:8.33vw 5vw 6vw 10vw;color:#434343;text-align:left;font-size: 3.5vw;}