.l-poi-active {
    overflow: hidden;
    background: #fff;
}
.l-poi-activity {
    padding: 0 .12rem;
    overflow: hidden;
}
.ac-left {
    width: 2.86rem;
    height: 3rem;
    margin: 0 .1rem;
    position: relative;
}
.ac-left {
    float: left;
}
.ac-left>em {
    position: absolute;
    font-style: normal;
    font-size: .27rem;
    color: #fff;
    background: url("resources/pd.png") no-repeat center;
    height: 1.05rem;
    width: .46rem;
    top: 0;
    left: .1rem;
    text-align: center;
    background-size: cover;
    white-space: pre-wrap;
    padding-top: .05rem;
}
.ac-left>img {
    width: 100%;
    display: block;
    height: 2.48rem;
}
.ac-left>p {
    width: 100%;
    height: .52rem;
    line-height: .52rem;
    overflow: hidden;
    font-size: .33rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #929292;
    font-family: 微软雅黑;
}