.wedding-address {
    background: #fff;
    overflow: hidden;
}

.wd-hd-info-down {
    height: 1rem;
    width: 100%
}

.wd-hd-info-address-item-address {
    font-size: .22rem;
    color: #000;
    position: relative;
    padding-top: .2rem;
    overflow: hidden;
}

.wd-hd-info-address-address {
    float: left;
    border-right: 2px solid #333;
    height: .76rem;
    padding-left: .75rem;
    width: 4.9rem;
    overflow: hidden;
    line-height: .38rem;
}

.wd-hd-info-address-address:before {
    content: "";
    background: url("resources/i1.png") no-repeat center;
    display: block;
    height: .34rem;
    width: .26rem;
    background-size: cover;
    position: absolute;
    left: .28rem;
    top: .28rem;
}

.wd-hd-info-address-map {
    float: left;
    margin-left: .4rem;
}

.wd-hd-info-address-map:before {
    content: "";
    background: url("resources/i2.png") no-repeat center;
    display: block;
    height: .29rem;
    width: .21rem;
    background-size: cover;
    margin: .08rem auto
}