.lPreference {
    overflow: hidden;
    background: #fff;
    background-size: 100% auto!important;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lPreference *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-poi-title {
    text-align: center;
    overflow: hidden;
    padding-top: 7.8125vw;
}

.l-poi-title p {
    color: #8e8787;
    text-align: center;
    font-family:  Arial,sans-serif;
    margin-bottom: 1vw;
    font-size: 4.68vw;
    font-weight: bold;
}

.l-poi-title span {
    color: #e39fa0;
    text-align: center;
    display: block;
    font-weight: bold;
    position: relative;
    font-size: 6.25vw;
}

.l-poi-title span:before,.l-poi-title span:after {
    content: "";
    width: 23.43vw;
    height: 3px;
    background: #5f5f5f;
    display: inline-block;
    vertical-align: middle;
}

.l-poi-title span:before {
    margin-right: 1.56vw;
}

.l-poi-title span:after {
    margin-left: 1.56vw;
}

.l-poi-activity {
    overflow: hidden;
    padding : 2vw 1.875vw;
}
.ac-left {
    position: relative;
    float: left;
    width: 45vw;
    margin: 0 1.55vw;
}
.ac-left>em {
    position: absolute;
    font-style: normal;
    color: #fff;
    background: url("resources/pd.png") no-repeat center;
    height: 16.4vw;
    width: 7.1875vw;
    top: 0;
    left: 2vw;
    text-align: center;
    background-size: cover;
    white-space: pre-wrap;
    padding-top:0.3vw;
    font-size: 4.53vw;
}
.ac-left>img {
    width: 100%;
    height: 38.75vw;
    display: block;
}
.ac-left>p {
    width: 100%;
    font-size: 5.15vw;
    height:7.8vw;
    line-height: 7.8vw;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #929292;
    font-family: "Microsoft Yahei";
    padding: 0 2vw;
}