.public-item {
    background: url("resources/bg2.png") no-repeat top center #f0f0f0;
    width: 100%;
    padding-top: 1rem;
    background-size: 6.4rem 9.15rem;
}
.item-show {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: .58rem;
}
.item-show>img {
    width: 3.87rem;
    height: 3.12rem;
    display: block;
}
.show-l>img {
    float: left;
    margin-left: .15rem;
}
.show-r>img {
    float: right;
    margin-right: .15rem;
}
.item-show-info {
    position: absolute;
    width: 2.85rem;
    height: 1.57rem;
}
.item-show-info>h3 {
    display: block;
    text-align: center;
    font-size: .36rem;
    margin-top: .2rem;
    width: 2.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-show-info>span {
    display: block;
    text-align: center;
    font-size: .3rem;
    color: #c90710;
    margin-top: .1rem;
}
.item-show-info>em {
    font-size: .22rem;
    display: block;
    text-align: right;
    margin-top: .1rem;
    font-style: normal;
    margin-right: .1rem;
}
.show-l .item-show-info {
    background: #1c1c30;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: .7rem;
    right: .4rem;
}
.show-l .item-show-info>h3 {
    color: #fff;
}
.show-l .item-show-info>em {
    color: #fff;
}
.show-r .item-show-info {
    background: #c0c0c0;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    top: .7rem;
    left: .4rem;
}
.show-r .item-show-info>h3 {
    color: #1c1c30;
}
.show-r .item-show-info>em {
    color: #1c1c30;
}
.public-item-box {
    position: relative;
    overflow: hidden;
}
.check-more {
    font-size: .22rem;
    text-align: right;
    right: .15rem;
    position: absolute;
    bottom: .2rem;
}